body {
    font-family: 'Roboto', sans-serif;
    background-color: #F0F4F8; /* light grey */
    color: #333; /* dark grey */
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50; /* modern green */
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title-container {
    display: flex;
    align-items: center;
}

#titleImage {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}

h1 {
    margin: 0;
    font-size: 1.5rem;
}

h2 {
    margin: 0;
    font-size: 1rem;
    color: #C8E6C9; /* light green */
}

nav {
    margin-top: 1rem;
}

button {
    background-color: #66BB6A; /* modern green */
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #388E3C; /* darker green */
}

.profile-container {
    display: flex;
    align-items: center;
}

#profileIcon {
    font-size: 2rem;
    margin-right: 1rem;
    cursor: pointer;
}

main {
    padding: 1rem;
}

#discussions {
    margin-top: 1rem;
}

body.dark-mode {
    background-color: #2E2E2E;
    color: #E8E8E8;
}

header.dark-mode {
    background-color: #4B4B4B;
}

button.dark-mode {
    background-color: #4B4B4B;
    color: #E8E8E8;
}

button.dark-mode:hover {
    background-color: #6B6B6B;
}
